@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    2433 Bentley Ave<br />
    Santa maria, CA 93458<br />
    <abbr title="Phone">P:</abbr>
    661.916.0956
</address>

<address>
    <strong>Email:</strong> <a href="mailto:richard@wittmanns.us">richard@wittmanns.us</a><br />
</address>
